.fitness-slider {
    margin-bottom: 114px;
    position: relative;
    overflow: hidden;

    &__header {
        @include title;
        margin-left: 226px;
        margin-top: 119px;
        margin-bottom: 78px;
    }

    &__header:after {
        @include line;
        left: 219px;
    }

    &__show {
        width: 1070px;

        .img-wrapper {
            width: 100%;
            overflow: hidden;
            max-height: 805px;

            a {
                max-width: 100%;
            }
        }

        .fitness-slider__show-img {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }

    &__lupa {
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: rgba(255, 255, 250, 0.3);
        top: 695px;
        left: 187px;

        img {
            position: absolute;
            top: 29px;
            left: 29px;
            height: 58%;
        }
    }

    .fitness-slider__body-wrapper {
        position: absolute;
        width: 1150px;
        bottom: 62px;
        left: 970px;

        .fitness-slider__body {
            width: 1100px;

            img {
                height: 100%;
            }

            .slick-arrow {
                position: absolute;
                top: -473px;
                width: 32px;
            }

            .slick-prev {
                left: 55%;
            }

            .slick-next {
                left: 62%;
            }

            .slick-next:before {
                content: "\e901";
                left: 0;
            }

            .slick-prev:before {
                content: "\e900";
                left: 4px;
            }

            .slick-next:before,
            .slick-prev:before {
                @include icon(0px);
                color: #40474E;
            }

            .slick-prev:hover:before,
            .slick-next:hover:before {
                color: #AA182C;
            }

            .slick-next:after,
            .slick-prev:after {
                content: "";
                position: absolute;
                top: -23px;
                height: 52px;
                width: 52px;
                border: 1px #98A4AE solid;
                left: -10px;
            }
        }
    }

    &__body {
        max-width: 1300px;
    }

    &__description {
        padding-left: 82px;

        &-button {
            @include btn(#6B97BB, 284px);
            margin-bottom: 82px;
            position: relative;

            a {
                @include btn-a
            }
        }

        &-header {
            width: 99%;
            font-size: 44px;
            line-height: 130%;
            font-weight: 400;
            margin-bottom: 43px;
        }

        &-text {
            font-weight: 300;
            font-size: 18px;
            line-height: 140%;
            width: 60%;

            p {
                margin-bottom: -8px;
            }
        }
    }
}