.footer {
    background-color: #6A737A;
    padding-top: 83px;
    padding-bottom: 10px;
    @include footer;

    .footer__item-wrapper {
        margin-bottom: 55px;
    }

    &__item {
        width: 180px;
        padding-top: 3px;

        p {
            margin-bottom: -6px;
        }

        &-header {
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
        }

        ul {
            padding-left: 0px;

            li {
                margin-bottom: 10px;
            }
        }

        a {
            @include footer;
        }
    }

    .footer__item-button {
        &>div {
            @include btn(#fff, 241px);
            text-align-last: left;
            padding-left: 20px;
            position: relative;

            a {
                @include btn-a;
            }
        }

        .see {
            margin-bottom: 28px;
            background-color: #6B97BB;
            border: 1px #6B97BB solid;
        }

        .see:after {
            @include icon(14px);
            content: "\e901";
            right: 20px;
        }

        .download:after {
            @include icon(14px);
            content: "\e902";
            right: 26px;
            font-size: 15px;
        }
    }

    .footer__item-logo {
        margin-right: 73px;

        .item-logo-icons {
            padding-top: 32px;

            img {
                width: 25px;
            }

            a {
                margin-right: 25px;
            }

            a:last-child {
                margin-right: 0;
            }
        }

        .footer__button {
            display: none;
        }
    }

    .footer__item-nav {
        margin-right: 16px;
    }

    .footer__item-contact {
        margin-right: 78px;

        &>div:first-child {
            margin-bottom: 67px;
        }
    }

    .footer__item-brend {
        margin-right: 20px;
    }

    .footer__item-contact-administration {
        margin-right: 121px;

        ul {
            margin-bottom: 33px;
        }
    }

    .copiright {
        justify-content: space-between;
        align-items: center;

        .language {
            margin-left: 178px;

            a {
                font-size: 14px;
                line-height: 121%;
                letter-spacing: 1px;
                color: rgba(255, 255, 255, 0.5);
                text-transform: uppercase;
                margin-right: 12px;
                position: relative;
            }

            a:last-child {
                margin-right: 0;
            }

            a:after {
                content: '';
                height: 10px;
                border-right: 1px #fff solid;
                position: absolute;
                left: 30px;
                top: 2px;
                opacity: 1;
            }

            a:last-child::after {
                display: none;
            }

            .active {
                color: #fff
            }
        }
    }
}