header {
    margin-bottom: 3px;

    .header__logo {
        img {
            height: 95%;
        }
    }

    .menu__button {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: start;
        list-style-type: none;
        margin-left: 34px;

        li {
            padding-top: 11px;
            padding-bottom: 16px;
            margin-left: 41px;

            a,
            div {
                @include btn-a;
                font-size: 16px;
                line-height: 19px;
            }

            a:hover {
                color: #AA182C;
            }

            div:hover {
                color: #AA182C;
            }
        }

        li:first-child {
            border: 1px #AA182C solid;
            padding: 13px 35px;
            margin-left: 0;
            margin-right: 35px;

            a {
                @include btn-a;
                vertical-align: middle;
            }
        }

        li:last-child {
            position: relative;

            p {
                display: none;
                position: absolute;
                margin-top: 10px;
            }

            img {
                width: 10px;
                padding: 5px;
                position: absolute;
            }

            .visible {
                display: block;
            }

            div {
                display: inline-block;
                cursor: pointer;
                width: 36px;
            }

            span {
                position: relative;
            }
        }

        .mark {
            margin-left: 37px;

            span {
                color: #AA182C;
            }
        }
    }

    .icons {
        margin-left: 70px;
        margin-top: 35px;
        font-family: 'icomoon';
        font-size: 22px;

        a {
            margin-right: 17px;
        }

        a:hover {
            color: #AA182C;
        }

        a:last-child {
            margin-right: 0;
        }

        .heart {
            position: relative;

            span {
                position: absolute;
                top: -4px;
                left: 24px;
                z-index: 2;
                font-weight: 600;
                font-size: 8px;
                line-height: 130%;
                color: #fff;
                letter-spacing: 1px;
            }
        }

        .lupa:before {
            content: "\e907";
        }

        .teresa:before {
            content: "\e910";
        }

        .heart:before {
            content: "\e905";
        }

        .heart:after {
            display: block;
            height: 15px;
            width: 15px;
            background-color: #AA182C;
            transform: rotate(105deg);
            position: absolute;
            top: -6px;
            left: 22px;
            z-index: 1;
            content: "";
        }

        .man:before {
            content: "\e90d";
        }
    }

    .wrapper {
        .open {
            display: block;
            position: absolute;
            margin: 0;
            top: 81px;
            left: -11px;
            z-index: 2;
        }
    }
}