.instagram {
    padding-top: 116px;
    background-color: rgba(207, 218, 227, 0.3);
    padding-bottom: 106px;

    .instagram-wrapper {
        width: 900px;
        margin: 0 auto;
    }

    .instagram__header {
        @include title;
        text-align: center;
        margin-bottom: 70px;
    }

    .instagram__header::after,
    .instagram__header::before {
        @include line;
        position: absolute;
    }

    .instagram__header::after {
        left: 21px;
    }

    .instagram__header::before {
        right: 21px;
    }

    .instagram__body {
        flex-wrap: wrap;

        img {
            height: 100%;
            vertical-align: bottom;
        }

        &-item {
            padding: 10px;
        }

        &-info {
            width: 280px;
            height: 280px;
            background-color: #fff;
            padding: 0;
            margin: 10px;

            &-circle {
                margin: 69px auto 15px;
                height: 50px;
                width: 50px;
                background-color: #40474E;
                border-radius: 50%;
                position: relative;

                img {
                    position: absolute;
                    top: 8px;
                    left: 9px;
                }
            }

            &-name {
                text-align: center;
                margin-bottom: 17px;
                margin-top: 21px;
            }

            &-button {
                @include btn(#F9F9FA, 178px);
                background-color: #6B97BB;
                margin: auto;

                a {
                    @include btn-a;
                    padding-top: 18px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}