@media (max-width: 1850px) {
    .main-slider__text-switch {
        display: none;
    }

    .body-wrapper {
        width: 100%;
    }
}

@media (max-width: 1730px) {
    .fitness-slider {
        .fitness-slider__description-button {
            margin-bottom: 17px;
        }

        .body-wrapper {
            width: 98%;
        }

        .fitness-slider__show {
            width: 60%;

            .img-wrapper {

                a {
                    max-width: 100%;
                }
            }

            .fitness-slider__show-img {
                max-width: 100%;
            }
        }

        .fitness-slider__body-wrapper {
            bottom: 4%;
            left: 46%;

            .fitness-slider__body-button {
                position: absolute;
                top: -76px;
                left: 296px;
            }

            .fitness-slider__body {

                .slick-arrow {
                    top: -19%;
                }

                .slick-next {
                    left: 34%;
                }

                .slick-prev {
                    left: 28%;
                }

                img {
                    width: 90%;
                }
            }
        }

        .fitness-slider__description {
            .fitness-slider__description-header {
                width: 85%;
                font-size: 40px;
                margin-bottom: 15px;
            }

            .fitness-slider__description-text {
                width: 85%;
                font-size: 16px;
            }
        }
    }

    .blog {
        .body-wrapper {
            width: 100%;
        }
    }
}

@media (max-width: 1560px) {
    .fitness-slider {

        .fitness-slider__description {
            padding-left: 45px;

            .fitness-slider__description-header {
                width: 100%;
                font-size: 38px;
            }
        }

        .fitness-slider__body-wrapper {
            bottom: 4%;

            .fitness-slider__body-button {
                top: -28%;
                left: 47%;

                div {
                    height: 35px;
                }
            }

            .fitness-slider__body {
                width: 70%;

                .slick-arrow {
                    top: -15%;
                }

                .slick-next {
                    left: 77%;
                }

                .slick-prev {
                    left: 68%;
                }
            }
        }

        &__lupa {
            width: 80px;
            height: 80px;
            top: 59%;
            left: 10%;

            img {
                width: 40px;
                top: 20px;
                left: 20px;
            }
        }
    }

    header {
        .menu {
            li {
                margin-left: 10px;
            }

            .mark {
                margin-left: 10px;
            }

            li:first-child {
                margin-right: 0px;
            }
        }
    }

    .main-slider {
        .main-slider__text {
            top: 30%;
            left: 5%;

            .main-slider__text-header {
                font-size: 54px;
            }

            .main-slider__text-description {
                font-size: 25px;
            }

            .main-slider__text-icons {
                right: -22%;
            }
        }

        .main-slider__body .slick-prev:before {
            left: 142%;
        }
    }

    .footer {
        .footer__item {
            margin-right: 30px;
            width: 15%;
        }

        .footer__item-button>div {
            width: 98%;

            &:after {
                display: none;
            }
        }
    }
}

@media (max-width: 1300px) {
    .fitness-slider {

        .fitness-slider__description {
            .fitness-slider__description-header {
                font-size: 36px;
            }
        }

        .fitness-slider__body-wrapper {
            width: 100%;
            position: static;

            .fitness-slider__body {
                width: 100%;

                .slick-arrow {
                    top: -28%;
                }

                .slick-next {
                    left: 70%;
                }

                .slick-prev {
                    left: 64%;
                }
            }

            .fitness-slider__body-button {
                top: 61%;
                left: auto;
                right: 25%;

                div {
                    height: 52px;
                }
            }
        }
    }

    header {
        .wrapper {
            display: block;
        }

        .menu {
            padding: 26px 3%;

            li {
                margin-left: 2%;
            }
        }

        .icons {
            margin: 0;
            position: absolute;
            right: 10px;
            top: 16px;
        }

        .header__logo {
            position: absolute;
            top: 41px;
            right: 49px;
        }
    }

    .blog {
        .blog__body {
            display: block;

            .blog__body-item {
                text-align: center;

                img {
                    width: 70%;
                }

                &-info {
                    display: block;

                    &-date {
                        margin-top: 20px;
                    }
                }

                .news,
                .article {
                    padding: 15px 106px;
                    font-size: 22px;
                }
            }
        }
    }

    .footer {
        .footer__item-button>div {
            a {
                font-size: 10px;
            }
        }
    }
}



@media (max-width: 1140px) {
    .fitness-slider {
        .fitness-slider__show {
            .img-wrapper {
                max-width: 78%;
            }
        }

        .fitness-slider__lupa {
            display: none;
        }

        &__header {
            margin-left: 85px;
        }

        .body-wrapper>.flex-container {
            display: block;
        }

        .fitness-slider__show {
            width: 100%;
        }

        .fitness-slider__description {
            margin-top: 200px;

            p {
                margin-bottom: 0;
            }
        }

        .fitness-slider__body-wrapper {
            position: absolute;
            bottom: 22%;
            left: 0;

            .fitness-slider__body-button {
                display: none;
            }

            .fitness-slider__body {
                .slick-arrow {
                    top: -88%;
                }

                .slick-next {
                    left: 60%;
                }

                .slick-prev {
                    left: 50%;
                }

                .slick-prev:before,
                .slick-next:before {
                    color: #fff;
                }

                .slick-next:after,
                .slick-prev:after {
                    display: none;
                }
            }
        }
    }

    .main-slider {
        margin-top: 0;

        .main-slider__body .slick-prev:before {
            left: 117%;
        }
    }

    header {
        margin-top: 0;

        .menu {
            display: block;
            width: 70%;

            li {
                text-align: center;
                border: 1px #000 solid;
                margin-left: 0;
                background-color: #98A4AE;
            }

            .mark {
                margin: 0;

                span {
                    color: #000;
                }
            }

            a:hover {
                color: #40474E;
            }

            li:hover {
                background-color: #AA182C;

                a {
                    color: #fff;
                }
            }

            li:first-child:hover {
                a {
                    color: #40474E;
                }
            }

            li:first-child {
                background-color: #fff;
            }
        }
    }

    .blog {
        .blog__header-title:after {
            display: none;
        }
    }

    .instagram {
        .instagram-wrapper {
            width: 610px;

            .instagram__body {
                width: 100%;
                margin: 0 auto;
            }

            .instagram__header::after,
            .instagram__header::before {
                display: none;
            }
        }
    }

    .question {
        .wrapper {
            overflow: hidden;
        }

        .question__form {
            left: 2%;
        }
    }

    .footer {
        .footer__item-wrapper {
            flex-wrap: wrap;
            padding-left: 12%;

            .footer__item {
                width: 25%;
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 840px) {
    .question {
        .wrapper {
            padding-left: 30px;
        }

        .question__form {
            width: 60%;

            .question__form-header {
                font-size: 38px;
            }

            button {
                width: 70%;
            }
        }
    }

    .main-slider {
        .main-slider__text {
            .main-slider__text-header {
                font-size: 30px;
            }

            .main-slider__text-description {
                font-size: 14px;
            }
        }
    }

    .fitness-slider {
        &__body-wrapper {
            display: none;
        }

        .fitness-slider__show {

            .img-wrapper {
                max-height: 493px;
                max-width: 78%;
            }

            .slick-arrow {
                position: absolute;
                top: 66%;
                width: 32px;
            }

            .slick-prev {
                left: 45%;
                z-index: 1;
            }

            .slick-next {
                left: 56%;
            }

            .slick-next:before {
                content: "\e901";
                left: 0;
            }

            .slick-prev:before {
                content: "\e900";
                left: 4px;
            }

            .slick-next:before,
            .slick-prev:before {
                @include icon(6px);
                color: #fff;
            }

            .slick-prev:hover:after,
            .slick-next:hover:after {
                color: #AA182C;
            }
        }

        .fitness-slider__description {
            margin-top: 18px;
        }
    }

    .footer {
        .footer__item-wrapper {
            .footer__item {
                width: 40%;
            }

            .footer__item-contact>div:first-child {
                margin-bottom: 25px;
            }
        }

        .copiright {
            display: block;
            width: 500px;
            margin: 0 auto;
            text-align: center;

            .language {
                margin-left: 0;
            }

            .artjoker {
                width: 292px;
                justify-content: space-between;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 700px) {
    header {
        .menu__button {
            display: block;
            margin: 44px 20px;
        }

        .menu {
            display: none;
        }

        .header__logo {
            top: 12px;
            left: 119px;
        }

        .icons {
            top: 41px;
        }
    }

    .main-slider {
        .main-slider__body .slick-prev:before {
            display: none;
        }

        .main-slider__body .slick-prev {
            left: 71%;
        }

        .main-slider__text-icons {
            top: -28px;

            img {
                width: 20px;
            }

            p {
                margin-bottom: -22px;
            }
        }
    }

    .instagram {
        .instagram-wrapper {
            width: 100%;

            .instagram__body {
                display: block;

                img {
                    width: 98%;
                }

                &-item:last-child {
                    width: calc(100% - 33px);
                    height: auto;
                    padding-top: 10%;
                    padding-bottom: 30%;

                    .instagram__body-info-circle {
                        height: 100px;
                        width: 100px;

                        img {
                            top: 8px;
                            left: 9px;
                            width: 65%;
                        }
                    }

                    .instagram__body-info-name {
                        font-size: 30px;
                        margin-top: 50px;
                        margin-bottom: 50px;
                    }

                    .instagram__body-info-button {
                        width: 249px;
                    }
                }
            }
        }
    }

    .question {
        .wrapper {
            margin-left: 0;

            img {
                display: none;
            }

            .question__form {
                position: static;
                margin: 0 auto;
                padding: 10% 6%;
                width: 85%;
            }
        }
    }

    .fitness-slider {
        .fitness-slider__header:after {
            width: 112px;
        }

        .slick-prev {
            left: 64%;
        }
    }

    .footer {
        .copiright {
            width: 90%;
        }
    }
}

@media (max-width: 490px) {
    header {
        .header__logo {
            left: 105px;

            img {
                width: 70px;
            }
        }

        .menu__button {
            margin: 34px 20px;
        }

        .icons {
            top: 34px;

            a {
                margin-right: -1px;
                font-size: 18px;
            }

            .heart:after {
                left: 12px;
            }

            .heart {
                span {
                    left: 14px;
                }
            }
        }
    }

    .main-slider {
        .main-slider__text {
            .main-slider__text-header {
                font-size: 18px;
            }

            .main-slider__text-description {
                font-size: 12px;
            }
        }

        .main-slider__body .slick-next {
            left: 81%;
        }
    }

    .fitness-slider {
        margin-bottom: 37px;

        .fitness-slider__header {
            margin-top: 22px;
            margin-bottom: 24px;
            font-size: 14px;
            margin-left: 18px;
        }

        .fitness-slider__header:after {
            top: 11px;
            left: 153px;
        }

        .fitness-slider__show {
            .slick-prev {
                left: 38%;
            }
        }

        .fitness-slider__description {
            padding-left: 10px;

            .fitness-slider__description-button {
                padding-top: 6px;
                padding-bottom: 6px;
                width: 255px;
            }

            .fitness-slider__description-header {
                font-size: 26px;
            }

            .fitness-slider__description-text {
                font-size: 14px;
            }
        }
    }

    .blog {
        padding-top: 39px;

        .blog__header {
            display: block;
            margin-bottom: 20px;

            .blog__header-button {
                padding-top: 6px;
                padding-bottom: 6px;
                width: 180px;
                margin: 0 auto;
            }
        }

        .blog__header-title {
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        .blog__header-title:after {
            display: block;
            width: 29%;
            top: 8px;
            left: 203px;
        }

        .blog__body-item {
            .blog__body-item-info {
                div {

                    .article,
                    .news {
                        padding: 4% 15%;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .question {
        .wrapper {
            padding-left: 10px;
        }

        .question__form {
            p {
                font-size: 14px;
            }

            .question__form-header {
                font-size: 20px;
            }

            input {
                height: 28px;
            }

            button:after {
                display: none;
            }
        }
    }

    .footer {
        padding-top: 54px;

        .footer__item-wrapper {
            display: block;
            padding-left: 0;

            .footer__item {
                position: relative;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 30px;
                width: 80%;

                .footer__item-header {
                    font-size: 26px;
                    line-height: 140%;
                }

                a {
                    font-size: 18px;
                    line-height: 112%;
                }

                p {
                    margin-bottom: 0;
                    font-size: 14px;
                }
            }

            .footer__item-logo {
                margin-left: 20px;
                margin-bottom: 71px;
                width: 40%;

                .footer__button {
                    display: block;
                    width: 100px;
                    position: absolute;
                    top: 16%;
                    left: 131%;
                }

                .item-logo-icons {
                    position: absolute;
                    top: 83%;
                    left: 56%;
                    width: 201px;
                }
            }

            .footer__item-nav {
                li {
                    border: 1px #40474E solid;
                    margin-bottom: 0;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    a {
                        text-transform: uppercase;

                    }
                }

                li:hover {
                    a {
                        color: #AA182C;
                    }
                }

                display: none;
            }

            .footer-menu__open {
                display: block;
            }

            .footer__item-button {
                &>div {
                    margin: 0 auto;
                    width: 75%;
                    text-align: center;
                    padding-left: 0;
                    text-align-last: center;
                    margin-bottom: 20px;

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 415px) {
    .main-slider {
        .main-slider__text {
            .main-slider__text-icons {
                display: flex;

                img {
                    width: 14px;
                }

                p {
                    margin-left: 5px;
                }
            }

            .main-slider__text-header {
                font-size: 12px;
            }

            .main-slider__text-header {
                font-size: 10px;
            }
        }
    }

    .fitness-slider {
        .fitness-slider__description {
            .fitness-slider__description-button {
                width: 86%;
            }

            .fitness-slider__description-header {
                font-size: 18px;
            }

            .fitness-slider__description-text {
                font-size: 12px;
            }
        }
    }

    .footer {
        .copiright {
            .artjoker {
                font-size: 12px;
                width: 257px;
            }
        }
    }

    .blog {
        .blog__body-item {
            .blog__body-item-info-text {
                font-size: 12px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .body-wrapper {
        width: 1920px;
    }
}