.question {
    padding-top: 122px;
    padding-bottom: 111px;
    background-color: #F9F9FA;
    position: relative;

    .question__form {
        position: absolute;
        width: 492px;
        padding: 80px 137px 105px 112px;
        background-color: #fff;
        top: 217px;
        right: 291px;

        &-header {
            font-size: 44px;
            line-height: 130%;
        }

        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 140%;
            padding-right: 20px;
            margin-bottom: 25px;
        }

        input,
        textarea {
            width: 100%;
            height: 50px;
            border: 1px #CFDAE3 solid;
            margin-bottom: 12px;
        }

        textarea {
            height: 96px;
            margin-bottom: 15px;
        }

        ::-webkit-input-placeholder {
            color: #98A4AE;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            padding-top: 10px;
            padding-left: 10px;
            letter-spacing: 1px;
        }

        ::-moz-placeholder {
            color: #98A4AE;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            padding-top: 10px;
            padding-left: 10px;
            letter-spacing: 1px;
        }

        :-moz-placeholder {
            color: #98A4AE;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            padding-top: 10px;
            padding-left: 10px;
            letter-spacing: 1px;
        }

        :-ms-input-placeholder {
            color: #98A4AE;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            padding-top: 10px;
            padding-left: 10px;
            letter-spacing: 1px;
        }

        button {
            background-color: #6B97BB;
            @include btn-a;
            @include btn(#fff, 470px);
            color: #fff;
            letter-spacing: 1px;
            text-align-last: left;
            padding-left: 30px;
            position: relative;
        }

        button:after {
            content: "\e901";
            @include icon(17px);
            right: 21px;
        }
    }

    .question__form:after {
        content: "";
        width: 690px;
        height: 690px;
        border: 1px #CFDAE3 solid;
        position: absolute;
        top: 16px;
        right: 20px;
        transform: rotate(15deg);
    }
}