body {
    font-size: 24px;
    font-family: 'Gotham Pro';
    font-weight: 400;
    color: #40474E;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #40474E;
}

@mixin btn-a {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: inherit;
}

@mixin btn($color, $width) {
    padding-top: 15px;
    padding-bottom: 15px;
    color: $color;
    width: $width;
    border: 1px $color solid;
    text-align: center;
}

@mixin title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

@mixin line {
    content: '';
    width: 200px;
    border-bottom: 1px solid #8D9AA5;
    position: absolute;
    top: 8px;
}

@mixin footer {
    color: #fff;
    font-size: 14px;
    line-height: 120%;
}

@mixin icon ($top) {
    font-family: 'icomoon';
    font-size: 12px;
    position: absolute;
    color: #fff;
    top: $top;
}

.wrapper {
    max-width: 1470px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.body-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

.flex-container {
    display: flex;
    justify-content: start;
    justify-items: flex-start;
}


@import 'icon.scss';
@import 'font.scss';
@import 'header.scss';
@import 'main-slider.scss';
@import 'fitness-slider.scss';
@import 'blog.scss';
@import 'instagram.scss';
@import 'question.scss';
@import 'footer.scss';
@import 'media.scss';